HoardeGame/Content/SETTINGS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="Settings">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Volume" type="xsd:decimal" />
        <xsd:element name="FullScreen" type="xsd:boolean" />
        <xsd:element name="ParticleEffects" type="xsd:boolean" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>